.react-character-list {
    padding: 24px 0;
    margin: auto;
    max-width: 1440px;
}

.react-character-list img {
    width: 50px;
}

.react-character-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 24px 0;
}

.react-character-list .character-card {
    box-sizing: border-box;
    padding: 24px;
    margin:0 12px 24px;
    width:calc(20% - 24px);
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.character-card img {
    width: 100%;
}

.character-card__info {
    color: white;
}

.character-card__info h3 {
    margin: 24px 0 0;
}
